.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 86px 0;
}

.login form {
  background-color: #fff;
  padding: 36px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.login form input {
  min-width: 300px;
  margin: 12px 0;
  padding: 5px;
  outline: none;
  border: 1px solid #ccc;
}

.login form input:focus {
  border: 2px solid #e15726;
  opacity: 0.6;
}

.login form h4 {
  color: #e15726;
}

.login form button {
  border: none;
  background-color: #e15726;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
}

.login form span {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
