.footer-container {
  padding: 24px;
  color: #ccc;
  background-color: #333333;
}

.center div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container span {
  color: #e15726;
}

.footer-container ul {
  list-style: none;
  line-height: 1.8;
}

.rights {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
